.ant-pro-footer-bar {
    z-index: 1000;
    background-color: white;
}

.ant-menu-horizontal {
    border-bottom: unset !important;
}

.ql-editor {
    min-height: 350px !important;
    overflow: hidden;
}

.modal-company {
    &.close {
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all 0.1s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
}

.modal-company-root {
    &.close {
        .ant-modal-mask {
            background-color: unset !important;
        }
    }
}

.customize-form-item {
    .ant-form-item {
        margin-bottom: 0 !important;
    }
}
